/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 49, 49);
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center the content vertically */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 20px;
  width: 500px;
  background-color: #333; /* Add a background color to the container */
  color: white;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-bottom: 100px;
}

.inpandbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #555; /* Input background color */
  color: white;
}

button {
  padding: 8px 16px;
  background-color: #007bff; /* Button background color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.inputs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

label {
  color: white;
  margin-right: 10px;
}

input[type="range"] {
  width: 100px;
}

/* Style the checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}
